img{
    width: 100px;
}

tbody tr.even {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

tbody tr.odd {
    background-color: #ffffff; /* White background for odd rows */
}

.child-table {

/*    border: 1px solid black !important;*/

    
   

}