html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

input {
    width: 100%;
    min-width: 50px;
}

tr.child-table {
   border-style: hidden;
}


/*// Printer datalist page styles*/
img {
    height: 67px !important;
}
