html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.userProfile {
    transition: all 0.3s;
    background: white;
}

    .userProfile:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        translate: 0 -5px;
    }

.flipped {
    transform: rotateY(180deg);
}

.front-of-card {
    z-index: 1;
}

.flipped .front-of-card {
    z-index: 0;
}

.back-of-card {
    transform: rotateY(180deg);
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    /*    z-index:1*/
}

    .back-of-card .backgroundCardImage {
        opacity: 0;
        transition: all 0.3s;
    }

.flipped .backgroundCardImage {
    opacity: 1;
}
