body {
    background: #c8c8d2;
    /*background: blue;*/
}





#account-sidebar {
    position: sticky;
/*    display: inline-flex; This gets set inline with bootstrap for media query */
    left: 0;
    top: 0;
    background: #490057;
    max-width: 200px;
    width: 100%;
    /*    display: flex;*/
    /*    justify-content: center;*/
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#logo {
display: flex;
align-items: center;
color: white;
/*flex-direction: row;*/
margin: 50px 0 88px 0;
}

#logo .img-container, #profile-logo {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 9px;
}



#top-bar {
    display: flex;

}



#profile-logo {
    width: 40px;
    height: 40px;
}


#hero-image-container {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-frame {
    border-radius: 50%;
    overflow: hidden;
}

#user-profile-image {
    width: max-content;
    position: absolute;
    bottom: 62px;
    left: 83px;
    border: 1px solid black;
}



#user-info {
    margin-left: 200px;

}

#user-profile-image img {
    width: 100px;
    height: 100px;
}

#logo img {
    width: 152px;
}


#header-actions-bar {

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar-section {


}

nav:not([aria-label="breadcrumb"]) a {
    display: block;
    margin-bottom: 20px;
}

.ui-background {
    background: #ffffff;
   
}
.ui-margin {
    margin: 10px;
    padding: 10px;
}

.mr-ui {
    margin-right: 10px;
}

.ui-br {

border-radius: 5px;
}