#account-sidebar {
    position: sticky;
    left: 0;
    top: 0;

}

#logo .img-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
}

#logo img {
    width: 152px;
}
