@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ModelBinding Styling!</h1>
    <p>
        Your task for this project is to style the two pages linked below. You may do custom CSS or
        use a framework like <a href="https://getbootstrap.com">Bootstrap</a>
    </p>
    <p><a asp-controller="Home" asp-action="UserProfile">User Profile Page</a></p>
    <p><a asp-action="PrinterList">3D Printer List</a></p>
</div>

